extends ../layout/layout.pug

block header
    header.header
        .container.mx-auto.relative
            .header__content
                h1.header__title Performance in Details 
                p.header__description We are Swiss experts in real estate, specializing in secured claims acquisitions and effective workouts driven by a commitment to reliability, reputation and results.
                .performance
                    img(src=require("../assets/performance.svg"), alt="performance", class="hidden desktop:block")
                    img(src=require("../assets/performance_m.svg"), alt="performance", class="block desktop:hidden")


block content
    .container.mx-auto.mt-20(class="desktop:mt-23")
        .px-3.text-dark-blue(class="desktop:px-0")
            h2.text-4xl.text-center.font-serif.mb-10(class="desktop:text-6xl desktop:mb-14") 
                | Stability from real estate.
                br
                | Yield from expertise.
            .img.mb-8(class="desktop:mb-12")
                img.width-screen(src=require("../assets/article1.png"))
            .mb-20(class="desktop:mb-24 desktop:grid desktop:grid-cols-3")
                .mb-10
                    .font-serif.text-8xl
                        | 15+
                    .font-medium
                        | years of focused expertise.
                .col-span-2
                    .mb-7(class="desktop:text-xl")
                        | As an employee managed investment company, we offer investors the chance to access diversified real estate portfolios acquired at discounted prices, which are managed by our regional partner network.
                    div
                        a.btn(href="#") Our portfolio
  
        .px-3.text-dark-blue(class="desktop:px-0")
            .banner.mb-20(class="desktop:mb-24")
                h2.text-4xl.font-serif.mb-5(class="desktop:text-6xl desktop:mb-12") 
                    | Luxembourg Stock Exchange 
                    br
                    | EMTF listed bonds
                div(class="desktop:grid desktop:grid-cols-4")
                    .mb-8
                        .font-serif.text-8xl
                            | 11%
                        .font-medium
                            | EUR and USD 
                            br
                            | denominated offerings
                    .col-span-2.mb-6
                        hr.border-dark-blue
                        .py-5.text-xl.font-medium.flex
                            .w-20.inline-block B+
                            | Credit rating* for issuer outlook: stable  
                        hr.border-dark-blue
                        .py-5.text-xl.font-medium.flex
                            .w-20.inline-block BBB– 
                            | Credit rating* for bond issue outlook: stable     
                    .text-left(class="desktop:text-right") 
                        a.anchor-button(href="#")
                            span See detailed offer 
                            +svg-icon(svg-icon-name='right-arrow')
                .text-sm.mt-4
                    | *current offering, subject to market changes

        .px-3.text-dark-blue.mb-20(class="desktop:px-0 desktop:mb-30")
            h2.text-4xl.font-serif.mb-10(class="desktop:text-6xl desktop:mb-14") 
                | Company news
            div(class="desktop:grid desktop:grid-cols-3 desktop:gap-8")
                .mb-10
                    div(class="w-1/2 desktop:w-screen")
                        a(href="#")
                            img.zoomable.mb-8(src=require("../assets/example1.png"))
                    a.font-serif.text-3xl.mb-4.inline-block(class="desktop:text-4xl hover:underline" href="#")
                        | New 200M Acquisition complete
                    .text-base.mb-4(class="desktop:text-xl")
                        | LynxCap in partnership with New York-based MHR Fund Management LLC, is pleased to announce the successful acquisition of a portfolio of real estate secured claims from a US-based asset manager.
                    div
                      | 09th of October 2024
                .mb-10
                    div(class="w-1/2 desktop:w-screen")
                        a(href="#")
                            img.zoomable.mb-8(src=require("../assets/example2.png"))
                    a.font-serif.text-3xl.mb-4.inline-block(class="desktop:text-4xl hover:underline" href="#")
                        | APK 5 Loan fully repaid
                    .text-base.mb-4(class="desktop:text-xl")
                        | LynxCap in partnership with New York-based MHR Fund Management LLC, is pleased to announce the successful acquisition of a portfolio of real estate secured claims from a US-based asset manager.
                    div
                      | 09th of October 2024
                .mb-10
                    div(class="w-1/2 desktop:w-screen")
                        a(href="#")
                            img.zoomable.mb-8(src=require("../assets/example3.png"))
                    a.font-serif.text-3xl.mb-4.inline-block(class="desktop:text-4xl hover:underline" href="#")
                        | New 200M Acquisition complete
                    .text-base.mb-4(class="desktop:text-xl")
                        | LynxCap in partnership with New York-based MHR Fund Management LLC, is pleased to announce the successful acquisition 
                    div
                      | 09th of October 2024
            .text-left(class="desktop:text-center") 
                a.anchor-button(href="#")
                    span See detailed offer 
                    +svg-icon(svg-icon-name='right-arrow')

block footer
    include ../components/footer-hero.pug