extends ../layout/layout.pug

block variables
    - var current_page = 'token'

block header
    header.token-header
        .container.mx-auto
            .header__content.token-header
                h1.text-4xl.font-serif.text-white(class="desktop:text-5xl") Tokenized Real Estate From NPL Portfolios
                .block.pb-15.mt-5(class="desktop:flex desktop:mt-15")
                    .block.mb-12(class="desktop:w-1/2")
                        .mb-10
                            .text-white.text-base.font-medium.mb-2 Coupon
                            .text-bronze-2.text-8xl.font-serif.mb-2 6-11%
                            .text-white.text-base.font-medium per annum, paid quarterly
                        .text-white.text-base.mb-10(class="desktop:text-xl", style="max-width: 480px") Tokenized LynxCap bonds offer easier access to yields that are backed by real estate security.
                        a.text-white.anchor-button.anchor-button--white(href="#")
                            span How to purchase
                            +svg-icon(svg-icon-name='right-arrow')
                    .block(class="desktop:w-1/2")
                        img(src=require("../assets/t-header-image.png"))


block content 
    .mx-auto.container.mt-20.px-4(class="desktop:mt-40 px-0")
        div(class="desktop:grid desktop:grid-cols-2 desktop:mb-10")
            .mb-10(class="desktop:mb-20")
                img.w-9.mb-5(src=require("../assets/p1.svg"), class="desktop:mb-8 desktop:w-15")
                .text-2xl.font-serif.mb-3(class="desktop:text-4xl")
                    | High Yield  
                div(class="desktop:text-xl desktop:pr-30")
                    | Our digitalized bonds offer 6%-11% YTM depending on the term you choose
            .mb-10(class="desktop:mb-20")
                img.w-9.mb-5(src=require("../assets/t-pie.svg"), class="desktop:mb-8 desktop:w-15")
                .text-2xl.font-serif.mb-3(class="desktop:text-4xl")
                    | Quarterly Coupon  
                div(class="desktop:text-xl desktop:pr-30")
                    | Get paid quarterly straight to your wallet
            .mb-10(class="desktop:mb-20")
                img.w-9.mb-5(src=require("../assets/t-house.svg"), class="desktop:mb-8 desktop:w-15")
                .text-2xl.font-serif.mb-3(class="desktop:text-4xl")
                    | Backed by Real Estate
                div(class="desktop:text-xl desktop:pr-30")
                    | Real Asset Collateral: Residential, Commercial and Land
            .mb-10(class="desktop:mb-20")
                img.w-9.mb-5(src=require("../assets/t-coins.svg"), class="desktop:mb-8 desktop:w-15")
                .text-2xl.font-serif.mb-3(class="desktop:text-4xl")
                    | Buy in  Crypto
                div(class="desktop:text-xl desktop:pr-30")
                    | Our partners accept major crypto currencies and fiat
            .mb-10(class="desktop:mb-20")
                img.w-9.mb-5(src=require("../assets/t-monitor.svg"), class="desktop:mb-8 desktop:w-15")
                .text-2xl.font-serif.mb-3(class="desktop:text-4xl")
                    | All  Online  
                div(class="desktop:text-xl desktop:pr-30")
                    | Smart contract offering transparency and instant settlement
            .mb-10.relative(class="desktop:mb-20")
                img.w-9.mb-5(src=require("../assets/t-lux.svg"), class="desktop:mb-8 desktop:w-15")
                .lu 🇱🇺
                .text-2xl.font-serif.mb-3(class="desktop:text-4xl")
                    | Luxembourg Jurisdiction
                div(class="desktop:text-xl desktop:pr-30")
                    | Compliant to Luxembourg law, benefitting from stock exchange oversight and independent security agents.
        .token-about.mb-8(class="desktop:mb-25 large:mb-40")
            .token-about__header 
                .token-about__container.mb-10(class="desktop:mb-0")
                    h2.text-4xl.font-serif.mb-6(class="desktop:text-5xl desktop:mb-9")
                        | About the LynxCap Token
                    .text-base(class="desktop:text-xxl")
                        | EVM-based security token offering 6%-11% with quarterly payments. The investment is focused on bonds listed on the Luxembourg Stock Exchange, which are backed by a granular and growing portfolio of real estate assets, as well as both performing and non-performing real estate secured loans.
                .token-about__image
                    img(src=require("../assets/t-token-coin.png"))
            .mt-10(class="desktop:grid desktop:grid-cols-3 desktop:mt-15 desktop:gap-6 large:mt-20")
                .mb-8
                    .text-2xl.font-serif.mb-4(class="desktop:text-4xl desktop:mb-6")
                        | 01
                    .text-base(class="desktop:text-xxl large:pr-20")
                        | Linked to specific bond issue with designated ISIN and listed on Luxembourg Stock Exchange
                .mb-8
                    .text-2xl.font-serif.mb-4(class="desktop:text-4xl desktop:mb-6")
                        | 02
                    .text-base(class="desktop:text-xxl large:pr-20")
                        | EVM-Based Token: STO format with smart contract transparency and instant settlement 
                .mb-8
                    .text-2xl.font-serif.mb-4(class="desktop:text-4xl desktop:mb-6")
                        | 03
                    .text-base(class="desktop:text-xxl large:pr-20")
                        | Accepted: all major crypto currencies
                .mb-8
                    .text-2xl.font-serif.mb-4(class="desktop:text-4xl desktop:mb-6")
                        | 04
                    .text-base(class="desktop:text-xxl large:pr-20")
                        | Minimum investment: EUR 100,000
                .mb-0(class="desktop:mb-8")
                    .text-2xl.font-serif.mb-4(class="desktop:text-4xl desktop:mb-6")
                        | 05
                    .text-base(class="desktop:text-xxl large:pr-20")
                        | Quarterly payouts of interest
        .token-description.mb-8(class="desktop:mb-25 large:mb-40")
            h2.text-4xl.font-serif.mb-12(class="desktop:text-5xl desktop:mb-15")
                | Multi level security
            div(class="desktop:grid desktop:grid-cols-3 desktop:gap-30")
                .mb-10(class="desktop:mb-0")
                    img(src=require("../assets/t-building.png"))
                .col-span-2
                    ul.text-base(class="desktop:text-xxl")
                        li Issuer audited by Deloitte Luxembourg
                        li Security Agents: Apex Group and Glas Loan Administration, S.L.
                        li
                            | Listed on Luxembourg SE & governed by 
                            a(href="#") Luxembourg SE rules and regulations 
                        li
                            | Bond rating :
                            a(href="#") BBB-, outlook stable 
                        li Real Asset Collateral: Residential & Commercial properties.
                
    .bg-dark-blue.mb-8(class="desktop:mb-25 large:mb-40")     
        include ../components/footer-hero.pug

    .yield-tables.mx-auto.container.mt-20.px-4(class="desktop:mt-40 px-0")            
        .token-description.mb-8(class="desktop:mb-25 large:mb-40")
            h2.text-4xl.font-serif.mb-12(class="desktop:text-5xl desktop:mb-15")
                | Tokens available: 
            .mb-12(class="desktop:grid desktop:grid-cols-3 desktop:gap-30 desktop:mb-16")              
                .mb-10
                    .text-base.font-medium.mb-1 Token linked to Bond XS2514450100
                    .text-6xl.font-serif YTM 8.5%
                    .text-xl.font-medium Aug’26
                div(class="desktop:col-span-2")
                    .mb-3.text-xl In case of 100k EUR investment
                    table
                        tr
                            td YTM (Yield to Maturity)
                            td 8.5%
                        tr
                            td Maturity
                            td 05/08/2026
                        tr.muted
                            td Days to maturity
                            td.text-bronze-1 487
                        tr.muted
                            td Total return of invested 100k EUR
                            td.text-bronze-1 110,932
                        tr.muted
                            td Coupons paid during the period, EUR
                            td.text-bronze-1 110,932
                        tr
                            td Principal back, EUR
                            td 99,01
                        tr
                            td Coupon paid per quarter, EUR
                            td 2,228
            div(class="desktop:grid desktop:grid-cols-3 desktop:gap-30")              
                .mb-10
                    .text-base.font-medium.mb-1 Token linked to Bond XS2706348690
                    .text-6xl.font-serif YTM 10%
                    .text-xl.font-medium Okt’27
                div(class="desktop:col-span-2")
                    .mb-3.text-xl In case of 100k EUR investment
                    table
                        tr
                            td YTM (Yield to Maturity)
                            td 10.00%
                        tr
                            td Maturity
                            td 29/10/2027
                        tr.muted
                            td Days to maturity
                            td.text-bronze-1 937
                        tr.muted
                            td Total return of invested 100k EUR
                            td.text-bronze-1 124,454
                        tr.muted
                            td Coupons paid during the period, EUR
                            td.text-bronze-1 27,367
                        tr
                            td Principal back, EUR
                            td 97,087
                        tr
                            td Coupon paid per quarter, EUR
                            td 2,670

    .how-to-purchase.mb-8.mx-auto.container(class="desktop:mb-25 large:mb-40")
        h2.text-4xl.font-serif.mb-6(class="desktop:text-5xl desktop:mb-9")
            | How to purchase
        p(style="max-width: 544px", class="desktop:text-xxl")
            | LynxCap real estate bond tokens are distributed through our partners - global crypto platforms and investment structures.
        .mt-10
            .how-to-purchase__item
                div(class="desktop:grid desktop:grid-cols-2")
                    .text-left.py-8(class="desktop:text-center")
                        img(src=require("../assets/t-youholder.png"))
                    div
                        .mb-5(class="desktop:text-xxl desktop:mb-8") 
                            | Swiss Smart Wallet, bridging the gap between traditional finance and crypto. Dedicated to providing secure and innovative financial solutions to customers from over 100 countries.
                        a.btn(href="#") Buy on Youholder
            .how-to-purchase__item
                div(class="desktop:grid desktop:grid-cols-2")
                    .text-left(class="desktop:text-center")
                        img(src=require("../assets/t-black-manta.png"))
                    div
                        .mb-5(class="desktop:text-xxl desktop:mb-8") 
                            | A next generation investment bank focused on digital and tokenized assets, operating a regulated investment platform for issuances in the European capital market.
                        a.btn(href="#") Buy on Black Manta
                            